<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Apple Watch側が先攻</string>
			<key>Key</key>
			<string>watch_first</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.newtonjapan.quickdraw.share</string>
</dict>
</plist>
